:root {
    --awesome-height: 0.75em;
    --awesome-checkbox-width: 1.5em;
    --awesome-range-width: 6em;
    --awesome-border: 2px;
    --awesome-diam: calc(var(--awesome-height) - var(--awesome-border) * 2);
    --awesome-transform: calc(var(--awesome-checkbox-width) - var(--awesome-diam) - var(--awesome-border) * 2);
    --awesome-background-color: #bbb;
    --awesome-border-color: #eee;
}
.checkbox--awesome {
    display: none;
    + .checkbox__icon {
        display: inline-block;
        vertical-align: middle;

        border-radius: 1em;
        background-color: black;
        width: var(--awesome-checkbox-width);
        height: var(--awesome-height);
        position: relative;
        overflow: hidden;
        will-change: transform; /* fixes an issue where the border-radius intermittently disappears while an animated transform is taking place */
        border: var(--awesome-border) solid black;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 1em;
            background-color: #ff9900;
            content: '';
        }
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: var(--awesome-diam);
            height: var(--awesome-diam);
            border-radius: 1em;
            box-shadow: 0 0 0.5em 0 black;
            content: '';
            background-color: var(--awesome-background-color);
            border: 1px solid var(--awesome-border-color);
        }
        &::before, &::after {
            transform: translateX(calc(-1 * var(--awesome-transform)));
            transition: transform 150ms;
        }
    }
    &:checked + .checkbox__icon {
        &::before, &::after {
            transform: translateX(0);
        }
    }
}

.range--awesome {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: 1em;
    background-color: black;
    width: var(--awesome-checkbox-width);
    height: var(--awesome-height);
    border: var(--awesome-border) solid black;

    &::-webkit-slider-runnable-track {
        appearance: none;
    }
    &::-moz-range-track {
        appearance: none;
    }

    &::-webkit-slider-thumb {
        font-size: inherit;
        appearance: none;
        width: var(--awesome-diam);
        height: var(--awesome-diam);
        border-radius: 1em;
        background-color: var(--awesome-background-color);
        border: 1px solid var(--awesome-border-color);
    }
    &::-moz-range-thumb {
        font-size: inherit;
        appearance: none;
        width: var(--awesome-diam);
        height: var(--awesome-diam);
        border-radius: 1em;
        background-color: var(--awesome-background-color);
        border: 1px solid var(--awesome-border-color);
    }
}
