@import "../webfonts/noto-sans/noto-sans.css";
@import "../webfonts/inter/inter.css";

.font--arial {
    --font-size-x-for-font: 0.9;
    body { font-family: 'Arial', sans-serif; }
}
.font--arial-black {
    --font-size-x-for-font: 0.75;
    body { font-family: 'Arial Black', sans-serif; }
}
.font--inter {
    --font-size-x-for-font: 0.875;
    body { font-family: 'Inter', sans-serif; }
}
.font--noto-sans {
    --font-size-x-for-font: 0.90;
    body { font-family: 'Noto Sans', sans-serif; }
}
.font--times {
    --font-size-x-for-font: 0.90;
    body { font-family: 'Times New Roman', 'Times Roman', serif; }
}

.font--helvetica-bold-condensed--apple {
    --font-size-x-for-font: 1.05;
    @supports (font-stretch: condensed) {
        body {
            font-family: 'Helvetica Neue';
            font-stretch: condensed;
        }
        .clock__line--date                { font-weight: 700; }
        .clock__line--time                { font-weight: 700; }
        .clock__line--calendar-month-year { font-weight: 700; }
        .clock__line--calendar-week       { font-weight: 700; }
    }
    @supports not (font-stretch: condensed) {
        body {
            font-family: 'HelveticaNeue-CondensedBold';
        }
    }
    .clock__line--date                { line-height: 1.1; }
    .clock__line--time                { line-height: 0.95; }
    .clock__line--calendar-month-year { line-height: 1.1; }
    .clock__line--calendar-week       { line-height: 1.2; }
}

.font--futura {
    body { font-family: 'Futura', sans-serif; }
}
.font--gill-sans {
    body { font-family: 'Gill Sans', sans-serif; }
}
.font--optima {
    body { font-family: 'Optima', sans-serif; }
}
.font--palatino {
    body { font-family: 'Palatino', sans-serif; }
}
.font--rockwell {
    body { font-family: 'Rockwell', sans-serif; }
}
.font--rockwell {
    body { font-family: 'Verdana', sans-serif; }
}
