.html--clock-layout-1 {
    --vw: 1vw;
    --base-font-size: 20vw;
    @media (min-aspect-ratio: 18/10) {
        --vw: 1.8vh;
        --base-font-size: 36vh;
    }
}
.html--clock-layout-2 {
    --vw: 1vw;
    --base-font-size: 20vw;
    @media (min-aspect-ratio: 18/10) {
        --vw: 1.8vh;
        --base-font-size: 36vh;
    }
}

:root {
    --background-color:                   rgb(10%,10%,10%);
    --split-flap-highlight-border-color:  rgba(100%,100%,100%,0.2);
    --split-flap-shadow-border-color:     rgba(0%,0%,0%,0.8);
    --view-master-highlight-border-color: rgba(100%,100%,100%,0.5);
    --view-master-shadow-border-color:    rgba(0%,0%,0%,0.8);
    --split-flap-top-background-color:    rgb(9%,9%,9%);
    --split-flap-top-color:               rgb(75%,75%,75%);
    --split-flap-bottom-background-color: rgb(12%,12%,12%);
    --split-flap-bottom-color:            rgb(100%,100%,100%);
}

:root {
    --split-flap-border-radius:           1;
    --view-master-padding:                1;
    --view-master-border-radius:          2;
    --view-master-highlight-border-width: 0.5;
    --view-master-margin:                 3;
    --split-flap-margin:                  1;
}
.clock__calendar-grid {
    --split-flap-border-radius:           0.5;
    --view-master-padding:                0.75;
    --view-master-border-radius:          1.25;
    --view-master-highlight-border-width: 0.3;
    --view-master-margin:                 1;
    --split-flap-margin:                  0.75;
}

body {
    background-color: var(--background-color);
    color: white;
}

/**
 * Layout
 */
.clock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clock__panel {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    > *:not(:first-child) {     // sf9 does not support gap
        margin-top: calc(var(--view-master-margin) * var(--vw) * var(--padding-x-no-seconds, 1));
    }
}
.clock__calendar-grid {
    display: flex;
    flex-flow: column nowrap;
    > *:not(:first-child) {     // sf9 does not support gap
        margin-top: calc(var(--view-master-margin) * var(--vw) * var(--padding-x-no-seconds, 1));
    }
}
.clock__line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: calc(-1 * var(--view-master-margin) * var(--vw));
    > * {
        margin-left: calc(var(--view-master-margin) * var(--vw));
        flex: 1 1 auto;
        align-self: center;
    }
    &--calendar-month-year {
        > .clock__view-master--calendar-month { flex: 0 1 50%; }
        > .clock__view-master--calendar-year { flex: 0 1 50%; }
    }
    &--time {
        .clock__colon {
            flex: 0 1 auto;
            user-select: none;
            font-family: 'Times New Roman', 'Times Roman', serif; // for the circle colons
            font-size: 50%;
            margin-left: 0;
            + * {
                margin-left: 0;
            }
        }
    }
    &--calendar-grid {
        > * {
            flex: 0 1 calc(14.2857% - calc(var(--view-master-margin) * var(--vw)));
            //        ^ yuck!
        }
    }
}
.clock__view-master {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    > * {
        flex: 1 1 auto;
        &:not(:first-child) {   // sf9 does not support gap
            margin-left: calc(var(--split-flap-margin) * var(--vw) * var(--padding-x-no-seconds, 1));
        }
    }
    &--calendar-month-year {
        > .clock__split-flap--calendar-month { flex: 0 1 50%; }
        > .clock__split-flap--calendar-year { flex: 0 1 50%; }
    }
}
.clock__blank-space {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    > * {
        flex: 1 1 auto;
    }
}

/**
 * Clock styles
 */
.clock__view-master {
    padding:        calc(var(--view-master-padding) * var(--vw) * var(--padding-x-no-seconds, 1));
    padding-bottom: calc(var(--view-master-padding) * var(--vw) * var(--padding-x-no-seconds, 1));
    border-radius:  calc(var(--view-master-border-radius) * var(--vw) * var(--padding-x-no-seconds, 1));
    background-color: var(--background-color);
    background-image: linear-gradient(
        to right,
        rgba(100%, 100%, 100%, 0.1),
        rgba(100%, 100%, 100%, 0.3),
        rgba(100%, 100%, 100%, 0.5),
        rgba(100%, 100%, 100%, 0.5),
        rgba(100%, 100%, 100%, 0.3),
        rgba(100%, 100%, 100%, 0.1)
    );
    border-bottom: calc(var(--view-master-highlight-border-width) * var(--vw)) solid transparent;
    user-select: none; /* Standard syntax */
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        border-radius: calc(var(--view-master-border-radius) * var(--vw) * var(--padding-x-no-seconds, 1));
    }
}
.clock__flap {
    border-top:    1px solid transparent;
    border-bottom: 1px solid transparent;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: calc(var(--split-flap-border-radius) * var(--vw) * var(--padding-x-no-seconds, 1));
}
.clock__top-flap {
    border-top-color: var(--split-flap-highlight-border-color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    background-color: var(--split-flap-top-background-color);
    color:            var(--split-flap-top-color);
}
.clock__bottom-flap {
    border-bottom-color: var(--split-flap-shadow-border-color);
    clip-path: polygon(0% calc(50% + 1px), 100% calc(50% + 1px), 100% 100%, 0% 100%);
    background-color: var(--split-flap-bottom-background-color);
    color:            var(--split-flap-bottom-color);
}
.clock__split-flap {
    display: inline-block;
    width: 100%;
    position: relative;
    user-select: none; /* Standard syntax */
}
.clock__split-flap::before {
    content: '\0000a0';
}

/**
 * Typography
 */
.html--clock-layout-1 {
    .clock__line {
        --base-line-height: 1.0;
    }
    .clock__line--date {
        --base-line-height: 1.1;
        font-size: 33.3333%;
    }
     .clock__line--calendar-month-year {
        --base-line-height: 1.1;
        font-size: 33.3333%;
    }
    .clock__line--calendar-week {
        --base-line-height: 1.2;
        font-size: 20%;
    }
}
.html--clock-layout-2 {
    .clock__line {
        --base-line-height: 1.0;
    }
    .clock__line--date {
        --base-line-height: 1.2;
        font-size: 25%;
    }
    .clock__line--calendar-month-year {
        --base-line-height: 1.2;
        font-size: 25%;
    }
    .clock__line--calendar-week {
        --base-line-height: 1.2;
        font-size: 20%;
    }
    .clock__view-master--day {
        --base-line-height: 1.1;
        font-size: 200%;
        flex: 0 0 1.5em;
    }
}
.clock__view-master {
    line-height: calc(var(--base-line-height, 1.2) +
                      var(--font-line-height-adjust, 0));
    .clock__flap {
        line-height: calc(var(--base-line-height, 1.2) +
                          var(--font-line-height-adjust, 0) +
                          var(--font-line-height-bump, 0));
    }
}

.clock__line--calendar-weekday-heading {
    font-size: 12.5%;
    > * {
        text-align: center;
    }
}

.clock {
    font-size: calc(var(--base-font-size) *
                    var(--font-size-x-for-font, 1) *
                    var(--font-size-x-no-seconds, 1));
}

.clock__line--date                { font-weight: 700; }
.clock__line--calendar-month-year { font-weight: 700; }
.clock__line--time                { font-weight: 400; }
.clock__line--calendar-week       { font-weight: 400; }

.clock__ampm     { font-size: 14%; }
.clock__ampm     { position: absolute; }
.clock__ampm     { left:   0.3em; }
.clock__ampm--am { top:    0.2em; }
.clock__ampm--pm { bottom: 0.2em; }
