:root {
    --bg: rgb(10%,10%,10%);
    --hi: rgb(11%,11%,11%);
    --sh: rgb(9%,9%,9%);
    --hiwhite: rgb(100%,100%,100%);
    --shwhite: rgb(82%,82%,82%);
    --hiborder: rgba(100%,100%,100%,0.5);
    --shborder: rgba(0%,0%,0%,0.8);
}

:root {
    --inter-margin: 1.5vw;
    --border-radius: 1.5vw;
    --split-flap-view-master-spacing: 1.5vw;
}
.clock__calendar-grid {
    --border-radius: 1vw;
    --split-flap-view-master-spacing: 1vw;
    --inter-margin: 1vw;
}

body {
    background-color: var(--bg);
    color: white;
}

/**
 * Layout
 */
.clock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clock__panel {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;

    // sf9 does not support gap
    > *:not(:first-child) {
        margin-top: var(--inter-margin);
    }
}
.clock__calendar-grid {
    display: flex;
    flex-flow: column nowrap;

    // sf9 does not support gap
    > *:not(:first-child) {
        margin-top: calc(var(--inter-margin) * 0.5);
    }
}
.clock__line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    // sf9 does not support gap
    > *:not(:first-child) {
        margin-left: var(--inter-margin);
    }

    > * {
        flex: 1 1 auto;
    }
    &--calendar-month-year {
        > .clock__view-master--calendar-month {
            flex: 0 1 calc(100% * 1/2);
        }
        > .clock__view-master--calendar-year {
            flex: 0 1 calc(100% * 1/2);
        }
    }
    &--calendar-week > * {
        flex: 0 1 14.2857%;
    }
}
.clock__view-master {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    // sf9 does not support gap
    > *:not(:first-child) {
        margin-left: var(--inter-margin);
    }

    > * {
        flex: 1 1 auto;
    }
    &--calendar-month-year {
        > .clock__split-flap--calendar-month {
            flex: 0 1 calc(100% * 1/2);
        }
        > .clock__split-flap--calendar-year {
            flex: 0 1 calc(100% * 1/2);
        }
    }
}

/**
 * Clock styles
 */
.clock__view-master {
    padding: var(--split-flap-view-master-spacing);
    padding-bottom: calc(var(--split-flap-view-master-spacing) - 1px);
    border-radius: calc(var(--split-flap-view-master-spacing) + var(--border-radius) - 2px);
    background-color: black;
    border-bottom: 1px solid var(--hiborder);
    user-select: none; /* Standard syntax */
}
.clock__flap {
    border-top:    1px solid transparent;
    border-bottom: 1px solid transparent;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: var(--border-radius);
}
.clock__top-flap {
    border-top-color: var(--hiborder);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    background-color: var(--sh);
    color:            var(--shwhite);
}
.clock__bottom-flap {
    border-bottom-color: var(--shborder);
    clip-path: polygon(0% calc(50% + 1px), 100% calc(50% + 1px), 100% 100%, 0% 100%);
    background-color: var(--hi);
    color:            var(--hiwhite);
}
.clock__split-flap {
    display: inline-block;
    width: 100%;
    position: relative;
    user-select: none; /* Standard syntax */
}
.clock__split-flap::before {
    content: '\0000a0';
}

/**
 * Typography
 */
.clock__line--date                { font-size: 33.3333%; }
.clock__line--calendar-month-year { font-size: 33.3333%; }
.clock__line--calendar-week       { font-size: 20%; }
.clock__ampm                      { font-size: 25%; }

// usually configured
.clock                            { font-size: 16vw; }

.clock__line--date                { font-weight: 700; }
.clock__line--calendar-month-year { font-weight: 700; }
.clock__line--time                { font-weight: 400; }
.clock__line--calendar-week       { font-weight: 400; }

.clock__line--date                { line-height: 1.4; }
.clock__line--time                { line-height: 1.1; }
.clock__line--calendar-month-year { line-height: 1.4; }
.clock__line--calendar-week       { line-height: 1.4; }

.clock__ampm     { position: absolute; }
.clock__ampm     { left:   0.4em; }
.clock__ampm--am { top:    0.2em; }
.clock__ampm--pm { bottom: 0.2em; }

/**
 * Miscellaneous
 */
[data-clock-weekday], [data-clock-month] {
    text-transform: uppercase;
}
