:root {
    --background-color: rgb(10%,10%,10%);
    --split-flap-highlight-border-color: rgba(100%,100%,100%,0.2);
    --split-flap-shadow-border-color: rgba(0%,0%,0%,0.8);
    --view-master-highlight-border-color: rgba(100%,100%,100%,0.5);
    --view-master-shadow-border-color: rgba(0%,0%,0%,0.8);
    --split-flap-top-background-color: rgb(9%,9%,9%);
    --split-flap-top-color: rgb(75%,75%,75%);
    --split-flap-bottom-background-color: rgb(12%,12%,12%);
    --split-flap-bottom-color: rgb(100%,100%,100%);
}

:root {
    --base-font-size: 22.5vw;
    --base-padding: 1.5vw;
    --base-margin: 1.5vw;
}
@media (min-aspect-ratio: 18/10) {
    :root {
        --base-font-size: 40.5vh;
        --base-padding: 2.7vh;
        --base-margin: 2.7vh;
    }
}

.clock__calendar-grid {
    --padding-x-calendar-grid: 0.6;
}

body {
    background-color: var(--background-color);
    color: white;
}

/**
 * Layout
 */
.clock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clock__panel {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;

    // sf9 does not support gap
    > *:not(:first-child) {
        margin-top: calc(
            var(--base-margin)
            * var(--padding-x-calendar-grid, 1)
            * var(--padding-x-no-seconds, 1)
        );
    }
}
.clock__calendar-grid {
    display: flex;
    flex-flow: column nowrap;

    // sf9 does not support gap
    > *:not(:first-child) {
        margin-top: calc(
            var(--base-margin)
            * var(--padding-x-calendar-grid, 1)
            * var(--padding-x-no-seconds, 1)
        );
    }
}
.clock__line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    // sf9 does not support gap
    > *:not(:first-child) {
        margin-left: calc(
            var(--base-margin)
            * var(--padding-x-calendar-grid, 1)
            * var(--padding-x-no-seconds, 1)
        );
    }

    > * {
        flex: 1 1 auto;
    }
    &--calendar-month-year {
        > .clock__view-master--calendar-month { flex: 0 1 50%; }
        > .clock__view-master--calendar-year { flex: 0 1 50%; }
    }
    &--calendar-week > * {
        flex: 0 1 14.2857%;
    }
}
.clock__view-master {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    // sf9 does not support gap
    > *:not(:first-child) {
        margin-left: calc(
            var(--base-margin)
            * var(--padding-x-calendar-grid, 1)
            * var(--padding-x-no-seconds, 1)
        );
    }

    > * {
        flex: 1 1 auto;
    }
    &--calendar-month-year {
        > .clock__split-flap--calendar-month { flex: 0 1 50%; }
        > .clock__split-flap--calendar-year { flex: 0 1 50%; }
    }
}

/**
 * Clock styles
 */
.clock__view-master {
    padding: calc(
        var(--base-padding)
        * var(--padding-x-calendar-grid, 1)
        * var(--padding-x-no-seconds, 1)
    );
    padding-bottom: calc(
        var(--base-padding)
        * var(--padding-x-calendar-grid, 1)
        * var(--padding-x-no-seconds, 1)
        - 1px
    );
    border-radius: calc(
        var(--base-padding)
        * var(--padding-x-calendar-grid, 1)
        * var(--padding-x-no-seconds, 1)
        * 2 - 2px
    );
    background-color: black;
    border-bottom: 1px solid var(--view-master-highlight-border-color);
    user-select: none; /* Standard syntax */
}
.clock__flap {
    border-top:    1px solid transparent;
    border-bottom: 1px solid transparent;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: calc(
        var(--base-padding)
        * var(--padding-x-calendar-grid, 1)
        * var(--padding-x-no-seconds, 1)
    );
}
.clock__top-flap {
    border-top-color: var(--split-flap-highlight-border-color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    background-color: var(--split-flap-top-background-color);
    color:            var(--split-flap-top-color);
}
.clock__bottom-flap {
    border-bottom-color: var(--split-flap-shadow-border-color);
    clip-path: polygon(0% calc(50% + 1px), 100% calc(50% + 1px), 100% 100%, 0% 100%);
    background-color: var(--split-flap-bottom-background-color);
    color:            var(--split-flap-bottom-color);
}
.clock__split-flap {
    display: inline-block;
    width: 100%;
    position: relative;
    user-select: none; /* Standard syntax */
}
.clock__split-flap::before {
    content: '\0000a0';
}

/**
 * Typography
 */
.clock__line--date                { font-size: 33.3333%; }
.clock__line--calendar-month-year { font-size: 33.3333%; }
.clock__line--calendar-week       { font-size: 20%; }

.clock {
    font-size: calc(var(--base-font-size) *
                    var(--font-size-x-for-font, 1) *
                    var(--font-size-x-no-seconds, 1));
}

.clock__line--date                { font-weight: 700; }
.clock__line--calendar-month-year { font-weight: 700; }
.clock__line--time                { font-weight: 400; }
.clock__line--calendar-week       { font-weight: 400; }

.clock__line--date                { line-height: 1.2; }
.clock__line--time                { line-height: 1.0; }
.clock__line--calendar-month-year { line-height: 1.2; }
.clock__line--calendar-week       { line-height: 1.2; }

.clock__ampm     { font-size: 20%; }
.clock__ampm     { position: absolute; }
.clock__ampm     { left:   0.3em; }
.clock__ampm--am { top:    0.1em; }
.clock__ampm--pm { bottom: 0.3em; }

/**
 * Miscellaneous
 */
[data-clock-weekday], [data-clock-month] {
    text-transform: uppercase;
}
