@media (orientation: portrait), (max-aspect-ratio: 1/1) {
    .clock__view-master--second.clock__view-master--second,
    .clock__view-master--month.clock__view-master--month {
        display: none;
    }
    .clock__view-master {
        width: 45%;
    }
    .clock__font-size-adjust {
        font-size: 150%;
    }
    :root {
        --border-radius: 2vw;
        --split-flap-view-master-spacing: 2vw;
    }
}
@media (min-aspect-ratio: 10/16) {
    .clock__line--calendar {
        display: none;
    }
}

/*
 * NOTES:
 *
 * All modern browsers support @media (orientation: portrait).
 *
 * Chrome does not support @media (max-aspect-ratio: 1); must use 1/1.
 */
