@media (orientation: portrait), (max-aspect-ratio: 1/1) {
    .clock__view-master--second,
    .clock__view-master--month {
        display: none;
    }
    .clock__split-flap--second,
    .clock__split-flap--month {
        display: none;
    }
    .clock__colon--minute-second,
    .clock__colon--day-month {
        display: none;
    }
    :root {
        --font-size-x-no-seconds: 1.5;
        --padding-x-no-seconds: 1.5;
    }
    .clock__calendar-grid {
        --font-size-x-no-seconds: 1.5;
        --padding-x-no-seconds: 1.5;
    }
}
@media (min-aspect-ratio: 10/16) {
    .clock__line--calendar {
        display: none;
    }
}

/*
 * NOTES:
 *
 * All modern browsers support @media (orientation: portrait).
 *
 * Chrome does not support @media (max-aspect-ratio: 1); must use 1/1.
 */
