@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');
body {
    font-family: 'Noto Sans', sans-serif;
}
.clock.clock {
    font-size: 17vw;
}
.clock__line--date {
    font-weight: 600;
}
.clock__line--time {
    font-weight: 300;
}
.clock__ampm--am.clock__ampm--am {
    top: 12%;
}
.clock__ampm--pm.clock__ampm--pm {
    bottom: 10%;
}
